streamlit
pypdf2
python-dotenv
langchain
openai
faiss-cpu
streamlit-extras
transformers
torch
sentence-transformers
langchain-community
fastapi
uvicorn==0.29.0
spacy==3.7.4
PyPDF2==3.0.1
requests==2.31.0
bitsandbytes==0.43.0
python-multipart
streamlit-pdf-viewer
flask
